In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Import SentenceTransformers for Sentence Embedding
from sentence_transformers import SentenceTransformer
# Import feature reduction umap
from umap import UMAP

In [25]:
import ast

In [4]:
data = pd.read_csv('../Data/movie3.csv')

In [5]:
# Information about the data
data.head(2)

,Unnamed: 0,genres,id,imdb_id,original_language,title,overview,vote_average,vote_count,embedding
0,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",7.7,5415.0,"[-0.16056565940380096, 0.6961712837219238, 0.5..."
1,1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,6.9,2413.0,"[-0.471577912569046, 0.013713628984987736, 0.4..."

Keep only certain movies
1. English
2. Hindi
3. Tamil
4. Telugu
5. Malayalam
6. Bengali

In [8]:
lang_dict = {
    'en': 'english',
    'hi': 'hindi',
    'ta': 'tamil',
    'te': 'telugu',
    'ml': 'malayalam',
    'bn': 'bengali'}

In [9]:
data['original_language'] = data['original_language'].apply(lambda x: lang_dict[x]).values

Preprocessing the movie genres

In [ ]:
data['genres'] = data.genres.apply(lambda x: ' '.join([i['name'] for i in eval(x)]))

In [21]:
data['genres']

0         Animation Comedy Family
1        Adventure Fantasy Family
2                  Romance Comedy
3            Comedy Drama Romance
4                          Comedy
                   ...
29682                      Horror
29683             Science Fiction
29684        Drama Action Romance
29685       Action Drama Thriller
29686
Name: genres, Length: 29687, dtype: object

Feature reduction of the embeddings. 768 -> 256

In [36]:
model = UMAP(n_components=256)

In [26]:
embed_float = data['embedding'].apply(ast.literal_eval)

In [37]:
embed_float_reduced = model.fit_transform(embed_float.to_list())

In [38]:
embed_float_reduced.shape

(29687, 256)